.navigation-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
    height: 80px;

    .nav-gr {
        min-height: 80%;
        min-width: 50%;
        display: flex;
        justify-content: space-evenly;
    }
}

.avatar {
    display: flex;
    align-items: center;
}

.icon {
    border: 1px solid gray;
    border-radius: 50%;
    background-color: blanchedalmond;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: #e7cca2;
    }
}
