.app-chat-layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

.navigation {
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
}




