.room-chat-header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #d4d2d2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.room-avatar-status {
    display: flex;
    width: 91%;
    text-align: start;

    .room-avatar {
        width: 50px;
    }

    .room-status-name {
        padding: 0 1em;

        .room-name {
            font-weight: 700;
        }
    }
}

.room-avatar {
    position: relative;
    height: 50px;
    width: 50px;
}

.room-action {
    display: flex;
    width: 9%;
    align-items: center;
    height: 100%;

    .room-action-icon {
        width: calc(100% / 3);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            cursor: pointer;
        }

        .room-info-icon-active {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}