.seen-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: gray;
    content: '✓';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: xx-small;
}